<div class="d-flex justify-content-center">
  <div class='search_form'>
    <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.submit "名前を検索", class: "btn btn-success" %>
    <% end %>
  </div>
</div>