<div class='container'>
  <div><%= flash[:notice] %></div>
  <div class='row'>
    <div class='col-md-3 affset-md-1 d-flex align-items-center'>
      <%= render 'layouts/genre', spot_genres: @spot_genres %>
    </div>
    <div class=' col-md-8 '>
      <div class='row pt-md-4'>
        <h2>みんなの旅行</h2>
        <%= render 'index', posts: @posts %>
      </div>
    </div>
  </div>
  <%= paginate @posts %>
</div>