<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='row pt-md-4 justify-content-center'><strong>Hey-Travelとは</strong></h1>
      <h3 class='row pt-md-4 text-center justify-content-center border-bottom'>
        <p>
          Hey-Travelでは旅行の記録を投稿したり、投稿を探して旅行のプラン作成の参考に<br>
          したりするコミュニティサイトです。会員登録をしても必ずしも投稿する<br>
          必要はございません。他ユーザーの投稿を観覧し情報収集するだけなど、<br>
          ご自身に合う使い方で自由にHey-Travelをお楽しみください。
        </p>
      </h3>
      <h3 class='row pt-md-5 justify-content-center'>新規会員登録は<%= link_to "こちら", new_user_registration_path %>から</h3>
    </div>
  </div>
</div>