<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='row pt-md-4 justify-content-center'><strong>Hey-Travelとは</strong></h1>
      <h3 class='row pt-md-4 justify-content-center border-bottom'>
        <p>
          Hey-Travelでは投稿による旅行の記録、投稿を探し旅行のプラン作成が行える<br>
          コミュニティサイトになっています。会員登録をしたら必ずしも投稿する<br>必要はございません。
          他ユーザーの投稿を観覧し情報収集するだけなど、<br>
          ご自身に合う使い方で自由にHey-Travelをお楽しみくださいませ。
        </p>
      </h3>
      <h2 class='row pt-md-4 justify-content-center'>会員登録をする</h2>
        <h3 class='row pt-md-2 justify-content-center'><%= link_to "こちら", new_user_registration_path %>から新規登録をしてください。</h3>
    </div>
  </div>
</div>