@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	margin-top: auto;
}

.button-link {
	cusor:pointer;
	border:none;
	background:none;
	color:#007bff;
}
.button-link:hover {
	text-decoration:underline;
	color:#002080;
}

