<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2 class='mt-md-4'>会員の登録情報</h2>
      <div class="d-flex justify-content-end pb-md-3">
        <%= render 'admin/searches/search' %>
      </div>
      <table class='table'>
        <thead>
          <tr>
            <td>会員ID</td>
            <td>名前</td>
            <td>ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <th><%= user.id %></td>
              <td><%= link_to user.name, admin_user_path(user.id) %></td>
              <td>
                <% if user.is_deleted == false %>
                  <p>有効</p>
                <% elsif %>
                  <p class="text-danger">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <%= paginate @users %>
      </table>
    </div>
  </div>
</div>