<table class='table'>
  <thead>
    <tr>
      <th><%= image_tag user.get_image(100,100) %></th>
    </tr>
    <tr>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <!--これ必要なければ消しても良い-->
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
    <tr>
      <th>
        <% if user.id == current_user.id %>
        <%= link_to "編集", edit_user_path, class: "btn btn-outline-secondary btn-block" %>
        <% end %>
      </th>
    </tr>
  </thead>
</table>