<div class='container'>
  <div class='row'>
    <div class='col-md-3 affset-md-1'>
      <%= render 'layouts/genre', spot_genres: @spot_genres %>
    </div>
    <div class='col-md-8'>
      <div class='row'><%= render 'info', user: @user %></div>
      <div class='row'>
        <h2 class='pt-md-4'>旅の記録</h2>
        <%= render 'public/posts/travel_post', posts: @posts %>
      </div>
    </div>
  </div>
</div>
