<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'layouts/genre' %>
    </div>
    <div class='col-md-8 affset-md-1'>
      <div class='row'><%= render 'info', user: @user %></div>
      <div class='row'>
        <h2>旅の記録</h2>
        <%= render 'public/posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>
