<div class='container'>
  <div class='row'>
    <div class="col-md-12">
      <div class='row justify-content-center pt-md-5'>
        <h2><strong>本当に退会しますか？</strong></h2>
      </div>
      <div class='row justify-content-center text-center pt-md-3'>
        <p>
          退会すると、このアカウントを再度使用することができなくなります。<br>
          今後またご利用される場合は再登録をする必要があります。<br>
          退会する場合は、「退会する」をクリックしてください。<br>
        </p>
      </div>
      <div class='row justify-content-center'>
        <div class='form-group'>
          <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-primary" %>
        </div>
        <div class='form-group pl-md-3'>
          <%= link_to "退会しない", mypage_path,class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>